:root {
  --lg-colorblock-size: 100px;
  --md-colorblock-size: 75px;
  --sm-colorblock-size: 50px;
}

body {
  font-family: "Inconsolata", monospace;
}

.app-container {
  display: grid;
}

.app-container-flex {
  display: flex;
}

.nav {
  position: sticky;
  top: 0;
  background-color: darkslategrey;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  gap: 50px;
  color: white;
  padding: 0px 20px;
  margin: auto;
}
.nav .grid-flex {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}
.nav h1 {
  font-size: 3rem;
  background: linear-gradient(to right, rgb(135, 160, 214), rgb(52, 209, 196));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 10px 0px;
}
.nav a {
  text-decoration: none;
  color: white;
}
.nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.color-block-container {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: auto;
  margin-top: 0px;
  gap: 8px;
}

.color-body {
  font-size: 1rem;
  border: 1px solid grey;
  border-radius: 20%;
  width: var(--lg-colorblock-size);
  height: var(--lg-colorblock-size);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.color-body:hover {
  box-shadow: 0px 15px 25px -5px #0057ab;
  transform: scale(1.03);
}
.color-body:active {
  box-shadow: 0px 4px 8px #0065c8;
  transform: scale(0.98);
}

.leaderboard-flex {
  position: -webkit-sticky;
  position: sticky;
  top: 84px;
  height: 100%;
  width: fit-content;
  border: 1px solid pink;
  background: white;
  padding: 5px;
  margin-top: 12px;
  margin-left: auto;
  justify-self: flex-end;
}
.leaderboard-flex h2 {
  text-align: center;
  margin: auto;
  z-index: 100;
}
.leaderboard-flex ul {
  margin: 5px;
  padding: 0px;
  font-size: 1.5em;
  border-radius: 10px;
}

.block-battle {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.big-block {
  border: 2px solid black;
  border-radius: 20%;
  font-size: 1rem;
  height: 15em;
  width: 15em;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.big-block h2 {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 15px 15px 0px 0px;
}

.block-position-0 {
  rotate: -10deg;
}

.block-position-1 {
  rotate: 10deg;
}

.flame-animation {
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  gap: -3px;
  filter: blur(0px);
  z-index: 1;
}
.flame-animation:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: -40px;
  z-index: 1;
}
.flame-animation .flame {
  position: absolute;
  border-radius: 50%;
}

.flame:nth-child(0) {
  left: 15%;
  top: 20px;
  width: 18px;
  height: 18px;
  animation: moveToTop 4.221s ease-in-out -2.654s infinite;
}

.flame:nth-child(1) {
  left: 40%;
  top: 20px;
  width: 20px;
  height: 20px;
  animation: moveToTop 1.703s ease-in-out -0.412s infinite;
}

.flame:nth-child(2) {
  left: 91%;
  top: 20px;
  width: 14px;
  height: 14px;
  animation: moveToTop 1.855s ease-in-out -0.3326666667s infinite;
}

.flame:nth-child(3) {
  left: 89%;
  top: 20px;
  width: 11px;
  height: 11px;
  animation: moveToTop 3.883s ease-in-out -3.306s infinite;
}

.flame:nth-child(4) {
  left: 23%;
  top: 20px;
  width: 19px;
  height: 19px;
  animation: moveToTop 3.42s ease-in-out -0.826s infinite;
}

.flame:nth-child(5) {
  left: 12%;
  top: 20px;
  width: 12px;
  height: 12px;
  animation: moveToTop 2.463s ease-in-out -0.5246666667s infinite;
}

.flame:nth-child(6) {
  left: 81%;
  top: 20px;
  width: 19px;
  height: 19px;
  animation: moveToTop 2.955s ease-in-out -1.762s infinite;
}

.flame:nth-child(7) {
  left: 17%;
  top: 20px;
  width: 14px;
  height: 14px;
  animation: moveToTop 3.945s ease-in-out -0.898s infinite;
}

.flame:nth-child(8) {
  left: 57%;
  top: 20px;
  width: 13px;
  height: 13px;
  animation: moveToTop 3.732s ease-in-out -0.0426666667s infinite;
}

.flame:nth-child(9) {
  left: 6%;
  top: 20px;
  width: 14px;
  height: 14px;
  animation: moveToTop 3.703s ease-in-out -2.0313333333s infinite;
}

.flame:nth-child(10) {
  left: 52%;
  top: 20px;
  width: 11px;
  height: 11px;
  animation: moveToTop 3.861s ease-in-out -1.938s infinite;
}

.flame:nth-child(11) {
  left: 34%;
  top: 20px;
  width: 20px;
  height: 20px;
  animation: moveToTop 3.824s ease-in-out -0.462s infinite;
}

.flame:nth-child(12) {
  left: 64%;
  top: 20px;
  width: 20px;
  height: 20px;
  animation: moveToTop 3.494s ease-in-out -2.932s infinite;
}

.flame:nth-child(13) {
  left: 72%;
  top: 20px;
  width: 15px;
  height: 15px;
  animation: moveToTop 3.702s ease-in-out -2.1966666667s infinite;
}

.flame:nth-child(14) {
  left: 5%;
  top: 20px;
  width: 17px;
  height: 17px;
  animation: moveToTop 1.643s ease-in-out -2.1013333333s infinite;
}

.flame:nth-child(15) {
  left: 82%;
  top: 20px;
  width: 14px;
  height: 14px;
  animation: moveToTop 3.679s ease-in-out -0.0573333333s infinite;
}

.flame:nth-child(16) {
  left: 67%;
  top: 20px;
  width: 18px;
  height: 18px;
  animation: moveToTop 3.907s ease-in-out -2.6706666667s infinite;
}

.flame:nth-child(17) {
  left: 78%;
  top: 20px;
  width: 17px;
  height: 17px;
  animation: moveToTop 3.907s ease-in-out -1.826s infinite;
}

.flame:nth-child(18) {
  left: 63%;
  top: 20px;
  width: 15px;
  height: 15px;
  animation: moveToTop 3.424s ease-in-out -1.122s infinite;
}

.flame:nth-child(19) {
  left: 2%;
  top: 20px;
  width: 14px;
  height: 14px;
  animation: moveToTop 2.426s ease-in-out -1.4226666667s infinite;
}

.flame:nth-child(20) {
  left: 18%;
  top: 20px;
  width: 17px;
  height: 17px;
  animation: moveToTop 2.302s ease-in-out -1.874s infinite;
}

.flame:nth-child(21) {
  left: 60%;
  top: 20px;
  width: 14px;
  height: 14px;
  animation: moveToTop 4.152s ease-in-out -2.508s infinite;
}

.flame:nth-child(22) {
  left: 83%;
  top: 20px;
  width: 11px;
  height: 11px;
  animation: moveToTop 4.466s ease-in-out -1.9106666667s infinite;
}

.flame:nth-child(23) {
  left: 46%;
  top: 20px;
  width: 13px;
  height: 13px;
  animation: moveToTop 4.273s ease-in-out -3.186s infinite;
}

.flame:nth-child(24) {
  left: 22%;
  top: 20px;
  width: 12px;
  height: 12px;
  animation: moveToTop 3.49s ease-in-out -3.226s infinite;
}

.flame:nth-child(25) {
  left: 48%;
  top: 20px;
  width: 19px;
  height: 19px;
  animation: moveToTop 1.62s ease-in-out -1.6173333333s infinite;
}

.flame:nth-child(26) {
  left: 51%;
  top: 20px;
  width: 13px;
  height: 13px;
  animation: moveToTop 1.932s ease-in-out -0.1086666667s infinite;
}

.flame:nth-child(27) {
  left: 51%;
  top: 20px;
  width: 20px;
  height: 20px;
  animation: moveToTop 2.739s ease-in-out -2.9633333333s infinite;
}

.flame:nth-child(28) {
  left: 50%;
  top: 20px;
  width: 20px;
  height: 20px;
  animation: moveToTop 3.543s ease-in-out -0.674s infinite;
}

.flame:nth-child(29) {
  left: 67%;
  top: 20px;
  width: 15px;
  height: 15px;
  animation: moveToTop 2.463s ease-in-out -2.5433333333s infinite;
}

.flame:nth-child(30) {
  left: 3%;
  top: 20px;
  width: 16px;
  height: 16px;
  animation: moveToTop 1.982s ease-in-out -0.312s infinite;
}

.flame:nth-child(31) {
  left: 22%;
  top: 20px;
  width: 19px;
  height: 19px;
  animation: moveToTop 4.19s ease-in-out -3.1093333333s infinite;
}

.flame:nth-child(32) {
  left: 53%;
  top: 20px;
  width: 16px;
  height: 16px;
  animation: moveToTop 4.184s ease-in-out -2.7006666667s infinite;
}

.flame:nth-child(33) {
  left: 80%;
  top: 20px;
  width: 19px;
  height: 19px;
  animation: moveToTop 1.89s ease-in-out -2.5606666667s infinite;
}

.flame:nth-child(34) {
  left: 54%;
  top: 20px;
  width: 20px;
  height: 20px;
  animation: moveToTop 2.404s ease-in-out -2.6453333333s infinite;
}

.flame:nth-child(35) {
  left: 81%;
  top: 20px;
  width: 18px;
  height: 18px;
  animation: moveToTop 1.549s ease-in-out -2.8326666667s infinite;
}

.flame:nth-child(36) {
  left: 60%;
  top: 20px;
  width: 14px;
  height: 14px;
  animation: moveToTop 3.492s ease-in-out -1.1873333333s infinite;
}

.flame:nth-child(37) {
  left: 56%;
  top: 20px;
  width: 14px;
  height: 14px;
  animation: moveToTop 2.862s ease-in-out -2.1346666667s infinite;
}

.flame:nth-child(38) {
  left: 83%;
  top: 20px;
  width: 15px;
  height: 15px;
  animation: moveToTop 4.258s ease-in-out -3.1653333333s infinite;
}

.flame:nth-child(39) {
  left: 3%;
  top: 20px;
  width: 14px;
  height: 14px;
  animation: moveToTop 2.951s ease-in-out -2.4333333333s infinite;
}

.flame:nth-child(40) {
  left: 66%;
  top: 20px;
  width: 20px;
  height: 20px;
  animation: moveToTop 1.88s ease-in-out -2.9026666667s infinite;
}

.flame:nth-child(41) {
  left: 90%;
  top: 20px;
  width: 18px;
  height: 18px;
  animation: moveToTop 1.871s ease-in-out -2.3226666667s infinite;
}

.flame:nth-child(42) {
  left: 65%;
  top: 20px;
  width: 14px;
  height: 14px;
  animation: moveToTop 3.293s ease-in-out -0.0373333333s infinite;
}

.flame:nth-child(43) {
  left: 73%;
  top: 20px;
  width: 12px;
  height: 12px;
  animation: moveToTop 1.909s ease-in-out -2.3386666667s infinite;
}

.flame:nth-child(44) {
  left: 77%;
  top: 20px;
  width: 16px;
  height: 16px;
  animation: moveToTop 2.939s ease-in-out -2.9773333333s infinite;
}

.flame:nth-child(45) {
  left: 19%;
  top: 20px;
  width: 11px;
  height: 11px;
  animation: moveToTop 3.513s ease-in-out -1.83s infinite;
}

.flame:nth-child(46) {
  left: 68%;
  top: 20px;
  width: 18px;
  height: 18px;
  animation: moveToTop 4.115s ease-in-out -1.4346666667s infinite;
}

.flame:nth-child(47) {
  left: 78%;
  top: 20px;
  width: 16px;
  height: 16px;
  animation: moveToTop 1.68s ease-in-out -0.0093333333s infinite;
}

.flame:nth-child(48) {
  left: 85%;
  top: 20px;
  width: 12px;
  height: 12px;
  animation: moveToTop 2.893s ease-in-out -1.5526666667s infinite;
}

.flame:nth-child(49) {
  left: 5%;
  top: 20px;
  width: 16px;
  height: 16px;
  animation: moveToTop 3.08s ease-in-out -2.4606666667s infinite;
}

.flame:nth-child(50) {
  left: 12%;
  top: 20px;
  width: 11px;
  height: 11px;
  animation: moveToTop 2.084s ease-in-out -2.8653333333s infinite;
}

.flame:nth-child(51) {
  left: 2%;
  top: 20px;
  width: 12px;
  height: 12px;
  animation: moveToTop 2.583s ease-in-out -3.2986666667s infinite;
}

.flame:nth-child(52) {
  left: 40%;
  top: 20px;
  width: 13px;
  height: 13px;
  animation: moveToTop 2.116s ease-in-out -2.7326666667s infinite;
}

.flame:nth-child(53) {
  left: 22%;
  top: 20px;
  width: 19px;
  height: 19px;
  animation: moveToTop 2.611s ease-in-out -0.4066666667s infinite;
}

.flame:nth-child(54) {
  left: 84%;
  top: 20px;
  width: 16px;
  height: 16px;
  animation: moveToTop 3.31s ease-in-out -2.3526666667s infinite;
}

.flame:nth-child(55) {
  left: 86%;
  top: 20px;
  width: 20px;
  height: 20px;
  animation: moveToTop 2.542s ease-in-out -0.578s infinite;
}

.flame:nth-child(56) {
  left: 51%;
  top: 20px;
  width: 17px;
  height: 17px;
  animation: moveToTop 3.916s ease-in-out -1.1513333333s infinite;
}

.flame:nth-child(57) {
  left: 9%;
  top: 20px;
  width: 11px;
  height: 11px;
  animation: moveToTop 2.21s ease-in-out -2.574s infinite;
}

.flame:nth-child(58) {
  left: 48%;
  top: 20px;
  width: 16px;
  height: 16px;
  animation: moveToTop 1.786s ease-in-out -0.7533333333s infinite;
}

.flame:nth-child(59) {
  left: 50%;
  top: 20px;
  width: 12px;
  height: 12px;
  animation: moveToTop 1.734s ease-in-out -0.948s infinite;
}

.flame:nth-child(60) {
  left: 30%;
  top: 20px;
  width: 17px;
  height: 17px;
  animation: moveToTop 3.82s ease-in-out -1.7413333333s infinite;
}

.flame:nth-child(61) {
  left: 74%;
  top: 20px;
  width: 12px;
  height: 12px;
  animation: moveToTop 1.677s ease-in-out -2.566s infinite;
}

.flame:nth-child(62) {
  left: 62%;
  top: 20px;
  width: 15px;
  height: 15px;
  animation: moveToTop 2.848s ease-in-out -3.0133333333s infinite;
}

.flame:nth-child(63) {
  left: 53%;
  top: 20px;
  width: 15px;
  height: 15px;
  animation: moveToTop 3.652s ease-in-out -1.0413333333s infinite;
}

.flame:nth-child(64) {
  left: 55%;
  top: 20px;
  width: 17px;
  height: 17px;
  animation: moveToTop 2.618s ease-in-out -2.732s infinite;
}

.flame:nth-child(65) {
  left: 38%;
  top: 20px;
  width: 12px;
  height: 12px;
  animation: moveToTop 3.118s ease-in-out -3.2853333333s infinite;
}

.flame:nth-child(66) {
  left: 83%;
  top: 20px;
  width: 19px;
  height: 19px;
  animation: moveToTop 1.855s ease-in-out -3.112s infinite;
}

.flame:nth-child(67) {
  left: 41%;
  top: 20px;
  width: 13px;
  height: 13px;
  animation: moveToTop 2.111s ease-in-out -2.4006666667s infinite;
}

.flame:nth-child(68) {
  left: 22%;
  top: 20px;
  width: 13px;
  height: 13px;
  animation: moveToTop 4.287s ease-in-out -1.6666666667s infinite;
}

.flame:nth-child(69) {
  left: 35%;
  top: 20px;
  width: 19px;
  height: 19px;
  animation: moveToTop 4.331s ease-in-out -2.412s infinite;
}

.flame:nth-child(70) {
  left: 76%;
  top: 20px;
  width: 18px;
  height: 18px;
  animation: moveToTop 4.15s ease-in-out -1.1306666667s infinite;
}

.flame:nth-child(71) {
  left: 43%;
  top: 20px;
  width: 11px;
  height: 11px;
  animation: moveToTop 3.853s ease-in-out -1.5366666667s infinite;
}

.flame:nth-child(72) {
  left: 85%;
  top: 20px;
  width: 16px;
  height: 16px;
  animation: moveToTop 3.144s ease-in-out -2.7126666667s infinite;
}

.flame:nth-child(73) {
  left: 83%;
  top: 20px;
  width: 13px;
  height: 13px;
  animation: moveToTop 2.164s ease-in-out -2.6906666667s infinite;
}

.flame:nth-child(74) {
  left: 89%;
  top: 20px;
  width: 13px;
  height: 13px;
  animation: moveToTop 2.306s ease-in-out -1.7393333333s infinite;
}

.flame:nth-child(75) {
  left: 50%;
  top: 20px;
  width: 11px;
  height: 11px;
  animation: moveToTop 3.221s ease-in-out -3.1173333333s infinite;
}

.flame:nth-child(76) {
  left: 31%;
  top: 20px;
  width: 14px;
  height: 14px;
  animation: moveToTop 3.485s ease-in-out -0.2506666667s infinite;
}

.flame:nth-child(77) {
  left: 50%;
  top: 20px;
  width: 14px;
  height: 14px;
  animation: moveToTop 4.415s ease-in-out -2.6053333333s infinite;
}

.flame:nth-child(78) {
  left: 2%;
  top: 20px;
  width: 11px;
  height: 11px;
  animation: moveToTop 3.947s ease-in-out -1.8173333333s infinite;
}

.flame:nth-child(79) {
  left: 38%;
  top: 20px;
  width: 16px;
  height: 16px;
  animation: moveToTop 2.503s ease-in-out -1.3146666667s infinite;
}

.flame:nth-child(80) {
  left: 7%;
  top: 20px;
  width: 15px;
  height: 15px;
  animation: moveToTop 4.194s ease-in-out -1.0986666667s infinite;
}

.flame:nth-child(81) {
  left: 5%;
  top: 20px;
  width: 18px;
  height: 18px;
  animation: moveToTop 1.799s ease-in-out -2.338s infinite;
}

.flame:nth-child(82) {
  left: 41%;
  top: 20px;
  width: 13px;
  height: 13px;
  animation: moveToTop 2.037s ease-in-out -0.438s infinite;
}

.flame:nth-child(83) {
  left: 37%;
  top: 20px;
  width: 14px;
  height: 14px;
  animation: moveToTop 3.469s ease-in-out -0.694s infinite;
}

.flame:nth-child(84) {
  left: 76%;
  top: 20px;
  width: 14px;
  height: 14px;
  animation: moveToTop 3.425s ease-in-out -1.7386666667s infinite;
}

.flame:nth-child(85) {
  left: 65%;
  top: 20px;
  width: 13px;
  height: 13px;
  animation: moveToTop 3.398s ease-in-out -1.0453333333s infinite;
}

.flame:nth-child(86) {
  left: 85%;
  top: 20px;
  width: 13px;
  height: 13px;
  animation: moveToTop 3.886s ease-in-out -0.156s infinite;
}

.flame:nth-child(87) {
  left: 68%;
  top: 20px;
  width: 12px;
  height: 12px;
  animation: moveToTop 4.03s ease-in-out -1.8426666667s infinite;
}

.flame:nth-child(88) {
  left: 18%;
  top: 20px;
  width: 12px;
  height: 12px;
  animation: moveToTop 1.988s ease-in-out -0.7813333333s infinite;
}

.flame:nth-child(89) {
  left: 85%;
  top: 20px;
  width: 13px;
  height: 13px;
  animation: moveToTop 2.597s ease-in-out -1.0453333333s infinite;
}

.flame:nth-child(90) {
  left: 23%;
  top: 20px;
  width: 11px;
  height: 11px;
  animation: moveToTop 1.788s ease-in-out -3.268s infinite;
}

.flame:nth-child(91) {
  left: 31%;
  top: 20px;
  width: 18px;
  height: 18px;
  animation: moveToTop 1.869s ease-in-out -1.544s infinite;
}

.flame:nth-child(92) {
  left: 72%;
  top: 20px;
  width: 16px;
  height: 16px;
  animation: moveToTop 4.21s ease-in-out -1.3866666667s infinite;
}

.flame:nth-child(93) {
  left: 46%;
  top: 20px;
  width: 15px;
  height: 15px;
  animation: moveToTop 2.357s ease-in-out -0.2833333333s infinite;
}

.flame:nth-child(94) {
  left: 18%;
  top: 20px;
  width: 12px;
  height: 12px;
  animation: moveToTop 3.706s ease-in-out -1.7306666667s infinite;
}

.flame:nth-child(95) {
  left: 7%;
  top: 20px;
  width: 12px;
  height: 12px;
  animation: moveToTop 2.122s ease-in-out -1.6253333333s infinite;
}

.flame:nth-child(96) {
  left: 85%;
  top: 20px;
  width: 17px;
  height: 17px;
  animation: moveToTop 2.398s ease-in-out -2.5033333333s infinite;
}

.flame:nth-child(97) {
  left: 48%;
  top: 20px;
  width: 14px;
  height: 14px;
  animation: moveToTop 3.655s ease-in-out -2.0673333333s infinite;
}

.flame:nth-child(98) {
  left: 4%;
  top: 20px;
  width: 19px;
  height: 19px;
  animation: moveToTop 4.212s ease-in-out -1.7053333333s infinite;
}

.flame:nth-child(99) {
  left: 81%;
  top: 20px;
  width: 16px;
  height: 16px;
  animation: moveToTop 4.267s ease-in-out -1.73s infinite;
}

.flame:nth-child(100) {
  left: 56%;
  top: 20px;
  width: 19px;
  height: 19px;
  animation: moveToTop 4.247s ease-in-out -1.01s infinite;
}

@keyframes moveToTop {
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
    transform: translate(0px, -28px) scale(0.4);
  }
}
.top-block {
  height: 5px;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  margin-top: 30px;
}

.leaderboard-item {
  padding: 0px 4px;
  list-style: none;
  width: 100%;
  text-wrap: nowrap;
}

/*# sourceMappingURL=App.css.map */
