:root {
	--lg-colorblock-size: 100px;
	--md-colorblock-size: 75px;
	--sm-colorblock-size: 50px;
}
body {
	font-family: 'Inconsolata', monospace;
}
.app-container {
	display: grid;
}
.app-container-flex {
	display: flex;
}

.nav {
	position: sticky;
	top: 0;
	background-color: darkslategrey;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	color: white;
	h1 {
		margin: 20px;
		font-size: 3rem;
		background: linear-gradient(to right,rgb(135, 160, 214),rgb(52, 209, 196));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		margin: 10px 0px;
	}
	a {
		text-decoration: none;
		color: white;
	}
	ul {
		list-style: none;
		display: flex;
		justify-content: center;
	}
}
.color-block-container {
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	margin: auto;
	margin-top: 0px;
	gap: 8px;
}
.color-body {
	// margin: 5px;
	border: 1px solid grey;
	border-radius: 20%;
	width: var(--lg-colorblock-size);
	height: var(--lg-colorblock-size);
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;

	&:hover {
		box-shadow: 0px 15px 25px -5px #0057ab;
		transform: scale(1.03);
	}
	&:active {
		box-shadow: 0px 4px 8px #0065c8;
		transform: scale(0.98);
	}
	
}
.leaderboard-flex {
	position: -webkit-sticky;
	position: sticky;
	top: 84px;
	height: 100%;
	width: fit-content;
	border: 1px solid pink;
	background: white;
	padding: 5px;
	margin-left: 0;
	// filter: contrast(8)
	h2 {
		text-align: center;
		margin: auto;
		z-index: 100;
	}
	ul {
		margin: 5px;
		padding: 0px;
		font-size: 1.5em;
		border-radius: 10px;
	}
}

.flame-animation {


	margin: auto;
	display: flex;
	flex-wrap: nowrap;
	gap: -3px;
	filter: blur(0px);
	$flame: 5px;
	z-index: 1;
	&:before {
        content: "";
		//border: 2px solid black;
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        bottom: -40px;
        z-index: 1;
        // backdrop-filter: blur(1px);
    }
	.flame {
		position: absolute;
		border-radius: 50%;
	}
}

@for $i from 0 through 100 { 
    .flame:nth-child(#{$i}) {
        $width: 10 + random(10) + px;
        left: #{(random(92)) + '%'};
        top: #{(19 + random(1))}px; //this has the option to change
        width: $width;
        height: $width;
        animation: moveToTop #{calc((random(3000) + 1500) / 1000)}s ease-in-out -#{calc(random(5000)/1500)}s infinite;
    }
}

@keyframes moveToTop {
    80% {
        opacity: 1;
    }
    100% {
        opacity: .1;
        transform: translate(-0px, -28px) scale(.40);
    }
}

.top-block {
	height: 5px;
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	margin-top: 30px;
}
.leaderboard-item {
	padding: 0px 4px;
	list-style: none;
	width: 100%;
	text-wrap: nowrap;
}

