:root {
  --lg-colorblock-size: 100px;
  --md-colorblock-size: 75px;
  --sm-colorblock-size: 50px;
}

body {
  font-family: "Inconsolata", monospace;
}

.app-container {
  display: grid;
}

.app-container-flex {
  display: flex;
}

.nav {
  position: sticky;
  top: 0;
  background-color: darkslategrey;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}
.nav h1 {
  margin: 20px;
  font-size: 3rem;
  background: linear-gradient(to right, rgb(135, 160, 214), rgb(52, 209, 196));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 10px 0px;
}
.nav a {
  text-decoration: none;
  color: white;
}
.nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.color-block-container {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: auto;
  margin-top: 0px;
  gap: 8px;
}

.color-body {
  border: 1px solid grey;
  border-radius: 20%;
  width: var(--lg-colorblock-size);
  height: var(--lg-colorblock-size);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.leaderboard-flex {
  position: -webkit-sticky;
  position: sticky;
  top: 84px;
  height: 100%;
  width: fit-content;
  border: 1px solid pink;
  background: white;
  padding: 5px;
  margin-left: 0;
}
.leaderboard-flex h2 {
  text-align: center;
  margin: auto;
  z-index: 1;
}
.leaderboard-flex ul {
  margin: 5px;
  padding: 0px;
  font-size: 1.5em;
  border-radius: 10px;
}

.flame-animation {
  width: 200px;
  margin: auto 4px -10px 4px;
  display: flex;
  flex-wrap: nowrap;
  gap: -3px;
}
.flame-animation .flame {
  border-radius: 50%;
  opacity: 70%;
  background-color: black;
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  animation: move 3s infinite 1s linear;
}
.flame-animation li {
  width: 15px;
  height: 15px;
  flex-shrink: 1;
  border-radius: 50%;
  animation: move 3s infinite 1s linear;
}

.flame:nth-child(0) {
  left: 2%;
  top: 46px;
  width: 30px;
  height: 30px;
  animation: moveToTop 3.627s ease-in-out -3.195s infinite;
}

.flame:nth-child(1) {
  left: 56%;
  top: 82px;
  width: 30px;
  height: 30px;
  animation: moveToTop 2.364s ease-in-out -0.881s infinite;
}

.flame:nth-child(2) {
  left: 12%;
  top: 79px;
  width: 22px;
  height: 22px;
  animation: moveToTop 1.804s ease-in-out -3.989s infinite;
}

.flame:nth-child(3) {
  left: 43%;
  top: 91px;
  width: 24px;
  height: 24px;
  animation: moveToTop 2.274s ease-in-out -0.766s infinite;
}

.flame:nth-child(4) {
  left: 16%;
  top: 90px;
  width: 22px;
  height: 22px;
  animation: moveToTop 3.547s ease-in-out -0.485s infinite;
}

.flame:nth-child(5) {
  left: 75%;
  top: 78px;
  width: 25px;
  height: 25px;
  animation: moveToTop 2.233s ease-in-out -3.501s infinite;
}

.flame:nth-child(6) {
  left: 76%;
  top: 122px;
  width: 27px;
  height: 27px;
  animation: moveToTop 2.954s ease-in-out -0.026s infinite;
}

.flame:nth-child(7) {
  left: 35%;
  top: 76px;
  width: 30px;
  height: 30px;
  animation: moveToTop 2.373s ease-in-out -4.149s infinite;
}

.flame:nth-child(8) {
  left: 51%;
  top: 52px;
  width: 27px;
  height: 27px;
  animation: moveToTop 3.057s ease-in-out -1.953s infinite;
}

.flame:nth-child(9) {
  left: 53%;
  top: 107px;
  width: 26px;
  height: 26px;
  animation: moveToTop 1.622s ease-in-out -1.858s infinite;
}

.flame:nth-child(10) {
  left: 32%;
  top: 102px;
  width: 30px;
  height: 30px;
  animation: moveToTop 3.352s ease-in-out -4.158s infinite;
}

.flame:nth-child(11) {
  left: 15%;
  top: 45px;
  width: 26px;
  height: 26px;
  animation: moveToTop 3.383s ease-in-out -2.587s infinite;
}

.flame:nth-child(12) {
  left: 26%;
  top: 130px;
  width: 27px;
  height: 27px;
  animation: moveToTop 2.755s ease-in-out -0.636s infinite;
}

.flame:nth-child(13) {
  left: 75%;
  top: 124px;
  width: 25px;
  height: 25px;
  animation: moveToTop 2.063s ease-in-out -1.126s infinite;
}

.flame:nth-child(14) {
  left: 52%;
  top: 64px;
  width: 24px;
  height: 24px;
  animation: moveToTop 3.601s ease-in-out -4.968s infinite;
}

.flame:nth-child(15) {
  left: 34%;
  top: 87px;
  width: 23px;
  height: 23px;
  animation: moveToTop 3.757s ease-in-out -2.617s infinite;
}

.flame:nth-child(16) {
  left: 20%;
  top: 75px;
  width: 30px;
  height: 30px;
  animation: moveToTop 3.304s ease-in-out -3.238s infinite;
}

.flame:nth-child(17) {
  left: 36%;
  top: 87px;
  width: 23px;
  height: 23px;
  animation: moveToTop 3.988s ease-in-out -0.386s infinite;
}

.flame:nth-child(18) {
  left: 24%;
  top: 90px;
  width: 29px;
  height: 29px;
  animation: moveToTop 2.62s ease-in-out -4.722s infinite;
}

.flame:nth-child(19) {
  left: 23%;
  top: 35px;
  width: 27px;
  height: 27px;
  animation: moveToTop 1.753s ease-in-out -1.302s infinite;
}

.flame:nth-child(20) {
  left: 42%;
  top: 97px;
  width: 22px;
  height: 22px;
  animation: moveToTop 2.27s ease-in-out -1.6s infinite;
}

.flame:nth-child(21) {
  left: 71%;
  top: 75px;
  width: 27px;
  height: 27px;
  animation: moveToTop 3.613s ease-in-out -0.25s infinite;
}

.flame:nth-child(22) {
  left: 44%;
  top: 46px;
  width: 22px;
  height: 22px;
  animation: moveToTop 3.422s ease-in-out -4.174s infinite;
}

.flame:nth-child(23) {
  left: 4%;
  top: 36px;
  width: 29px;
  height: 29px;
  animation: moveToTop 3.092s ease-in-out -2.525s infinite;
}

.flame:nth-child(24) {
  left: 69%;
  top: 92px;
  width: 21px;
  height: 21px;
  animation: moveToTop 1.885s ease-in-out -4.076s infinite;
}

.flame:nth-child(25) {
  left: 8%;
  top: 92px;
  width: 22px;
  height: 22px;
  animation: moveToTop 3.317s ease-in-out -1.218s infinite;
}

.flame:nth-child(26) {
  left: 55%;
  top: 66px;
  width: 21px;
  height: 21px;
  animation: moveToTop 3.981s ease-in-out -4.744s infinite;
}

.flame:nth-child(27) {
  left: 75%;
  top: 84px;
  width: 25px;
  height: 25px;
  animation: moveToTop 2.835s ease-in-out -0.562s infinite;
}

.flame:nth-child(28) {
  left: 75%;
  top: 42px;
  width: 21px;
  height: 21px;
  animation: moveToTop 2.285s ease-in-out -2.733s infinite;
}

.flame:nth-child(29) {
  left: 66%;
  top: 127px;
  width: 25px;
  height: 25px;
  animation: moveToTop 2.649s ease-in-out -0.802s infinite;
}

.flame:nth-child(30) {
  left: 75%;
  top: 95px;
  width: 28px;
  height: 28px;
  animation: moveToTop 3.347s ease-in-out -2.251s infinite;
}

.flame:nth-child(31) {
  left: 40%;
  top: 85px;
  width: 27px;
  height: 27px;
  animation: moveToTop 3.178s ease-in-out -3.346s infinite;
}

.flame:nth-child(32) {
  left: 48%;
  top: 92px;
  width: 23px;
  height: 23px;
  animation: moveToTop 2.84s ease-in-out -4.488s infinite;
}

.flame:nth-child(33) {
  left: 38%;
  top: 49px;
  width: 22px;
  height: 22px;
  animation: moveToTop 3.551s ease-in-out -0.252s infinite;
}

.flame:nth-child(34) {
  left: 40%;
  top: 58px;
  width: 27px;
  height: 27px;
  animation: moveToTop 3.937s ease-in-out -0.102s infinite;
}

.flame:nth-child(35) {
  left: 1%;
  top: 110px;
  width: 25px;
  height: 25px;
  animation: moveToTop 1.812s ease-in-out -4.035s infinite;
}

.flame:nth-child(36) {
  left: 38%;
  top: 94px;
  width: 27px;
  height: 27px;
  animation: moveToTop 1.91s ease-in-out -1.96s infinite;
}

.flame:nth-child(37) {
  left: 71%;
  top: 52px;
  width: 22px;
  height: 22px;
  animation: moveToTop 1.864s ease-in-out -0.748s infinite;
}

.flame:nth-child(38) {
  left: 7%;
  top: 51px;
  width: 22px;
  height: 22px;
  animation: moveToTop 3.57s ease-in-out -0.468s infinite;
}

.flame:nth-child(39) {
  left: 31%;
  top: 105px;
  width: 29px;
  height: 29px;
  animation: moveToTop 2.653s ease-in-out -0.441s infinite;
}

.flame:nth-child(40) {
  left: 34%;
  top: 111px;
  width: 22px;
  height: 22px;
  animation: moveToTop 1.943s ease-in-out -2.234s infinite;
}

.flame:nth-child(41) {
  left: 8%;
  top: 74px;
  width: 30px;
  height: 30px;
  animation: moveToTop 2.915s ease-in-out -4.736s infinite;
}

.flame:nth-child(42) {
  left: 11%;
  top: 104px;
  width: 29px;
  height: 29px;
  animation: moveToTop 3.482s ease-in-out -4.412s infinite;
}

.flame:nth-child(43) {
  left: 39%;
  top: 67px;
  width: 27px;
  height: 27px;
  animation: moveToTop 2.626s ease-in-out -4.065s infinite;
}

.flame:nth-child(44) {
  left: 39%;
  top: 37px;
  width: 27px;
  height: 27px;
  animation: moveToTop 1.911s ease-in-out -0.369s infinite;
}

.flame:nth-child(45) {
  left: 7%;
  top: 51px;
  width: 27px;
  height: 27px;
  animation: moveToTop 2.333s ease-in-out -0.455s infinite;
}

.flame:nth-child(46) {
  left: 9%;
  top: 58px;
  width: 22px;
  height: 22px;
  animation: moveToTop 3.045s ease-in-out -4.396s infinite;
}

.flame:nth-child(47) {
  left: 53%;
  top: 41px;
  width: 26px;
  height: 26px;
  animation: moveToTop 3.793s ease-in-out -1.622s infinite;
}

.flame:nth-child(48) {
  left: 43%;
  top: 80px;
  width: 21px;
  height: 21px;
  animation: moveToTop 2.396s ease-in-out -0.233s infinite;
}

.flame:nth-child(49) {
  left: 73%;
  top: 99px;
  width: 27px;
  height: 27px;
  animation: moveToTop 3.181s ease-in-out -4.076s infinite;
}

.flame:nth-child(50) {
  left: 36%;
  top: 67px;
  width: 30px;
  height: 30px;
  animation: moveToTop 3.041s ease-in-out -4.703s infinite;
}

.flame:nth-child(51) {
  left: 32%;
  top: 115px;
  width: 28px;
  height: 28px;
  animation: moveToTop 2.45s ease-in-out -2.435s infinite;
}

.flame:nth-child(52) {
  left: 75%;
  top: 65px;
  width: 28px;
  height: 28px;
  animation: moveToTop 2.052s ease-in-out -0.514s infinite;
}

.flame:nth-child(53) {
  left: 34%;
  top: 86px;
  width: 24px;
  height: 24px;
  animation: moveToTop 2.267s ease-in-out -4.368s infinite;
}

.flame:nth-child(54) {
  left: 54%;
  top: 42px;
  width: 30px;
  height: 30px;
  animation: moveToTop 2.292s ease-in-out -1.057s infinite;
}

.flame:nth-child(55) {
  left: 74%;
  top: 36px;
  width: 30px;
  height: 30px;
  animation: moveToTop 2.63s ease-in-out -3.117s infinite;
}

.flame:nth-child(56) {
  left: 28%;
  top: 81px;
  width: 30px;
  height: 30px;
  animation: moveToTop 2.776s ease-in-out -3.082s infinite;
}

.flame:nth-child(57) {
  left: 68%;
  top: 93px;
  width: 26px;
  height: 26px;
  animation: moveToTop 3.538s ease-in-out -2.624s infinite;
}

.flame:nth-child(58) {
  left: 4%;
  top: 86px;
  width: 23px;
  height: 23px;
  animation: moveToTop 2.74s ease-in-out -4.951s infinite;
}

.flame:nth-child(59) {
  left: 66%;
  top: 129px;
  width: 25px;
  height: 25px;
  animation: moveToTop 3.89s ease-in-out -0.498s infinite;
}

.flame:nth-child(60) {
  left: 46%;
  top: 72px;
  width: 23px;
  height: 23px;
  animation: moveToTop 2.8s ease-in-out -3.998s infinite;
}

.flame:nth-child(61) {
  left: 48%;
  top: 91px;
  width: 24px;
  height: 24px;
  animation: moveToTop 1.747s ease-in-out -4.292s infinite;
}

.flame:nth-child(62) {
  left: 74%;
  top: 63px;
  width: 25px;
  height: 25px;
  animation: moveToTop 3.267s ease-in-out -2.516s infinite;
}

.flame:nth-child(63) {
  left: 4%;
  top: 75px;
  width: 24px;
  height: 24px;
  animation: moveToTop 3.9s ease-in-out -2.186s infinite;
}

.flame:nth-child(64) {
  left: 32%;
  top: 66px;
  width: 29px;
  height: 29px;
  animation: moveToTop 2.686s ease-in-out -1.622s infinite;
}

.flame:nth-child(65) {
  left: 7%;
  top: 56px;
  width: 27px;
  height: 27px;
  animation: moveToTop 1.518s ease-in-out -2.261s infinite;
}

.flame:nth-child(66) {
  left: 56%;
  top: 80px;
  width: 23px;
  height: 23px;
  animation: moveToTop 2.238s ease-in-out -1.025s infinite;
}

.flame:nth-child(67) {
  left: 25%;
  top: 31px;
  width: 21px;
  height: 21px;
  animation: moveToTop 3.739s ease-in-out -1.526s infinite;
}

.flame:nth-child(68) {
  left: 26%;
  top: 64px;
  width: 28px;
  height: 28px;
  animation: moveToTop 2.675s ease-in-out -2.545s infinite;
}

.flame:nth-child(69) {
  left: 27%;
  top: 122px;
  width: 26px;
  height: 26px;
  animation: moveToTop 2.378s ease-in-out -4.344s infinite;
}

.flame:nth-child(70) {
  left: 44%;
  top: 66px;
  width: 25px;
  height: 25px;
  animation: moveToTop 3.661s ease-in-out -1.898s infinite;
}

.flame:nth-child(71) {
  left: 3%;
  top: 39px;
  width: 27px;
  height: 27px;
  animation: moveToTop 3.879s ease-in-out -1.451s infinite;
}

.flame:nth-child(72) {
  left: 36%;
  top: 58px;
  width: 21px;
  height: 21px;
  animation: moveToTop 2.384s ease-in-out -0.96s infinite;
}

.flame:nth-child(73) {
  left: 41%;
  top: 83px;
  width: 22px;
  height: 22px;
  animation: moveToTop 2.095s ease-in-out -0.047s infinite;
}

.flame:nth-child(74) {
  left: 69%;
  top: 125px;
  width: 28px;
  height: 28px;
  animation: moveToTop 3.421s ease-in-out -4.565s infinite;
}

.flame:nth-child(75) {
  left: 29%;
  top: 100px;
  width: 23px;
  height: 23px;
  animation: moveToTop 1.623s ease-in-out -0.605s infinite;
}

.flame:nth-child(76) {
  left: 55%;
  top: 46px;
  width: 28px;
  height: 28px;
  animation: moveToTop 1.671s ease-in-out -4.45s infinite;
}

.flame:nth-child(77) {
  left: 47%;
  top: 100px;
  width: 21px;
  height: 21px;
  animation: moveToTop 3.188s ease-in-out -3.695s infinite;
}

.flame:nth-child(78) {
  left: 8%;
  top: 113px;
  width: 23px;
  height: 23px;
  animation: moveToTop 3.253s ease-in-out -1.259s infinite;
}

.flame:nth-child(79) {
  left: 60%;
  top: 84px;
  width: 30px;
  height: 30px;
  animation: moveToTop 3.509s ease-in-out -2.768s infinite;
}

.flame:nth-child(80) {
  left: 46%;
  top: 98px;
  width: 26px;
  height: 26px;
  animation: moveToTop 2.76s ease-in-out -4.912s infinite;
}

.flame:nth-child(81) {
  left: 10%;
  top: 123px;
  width: 30px;
  height: 30px;
  animation: moveToTop 3.732s ease-in-out -2.685s infinite;
}

.flame:nth-child(82) {
  left: 75%;
  top: 111px;
  width: 26px;
  height: 26px;
  animation: moveToTop 3.01s ease-in-out -0.262s infinite;
}

.flame:nth-child(83) {
  left: 77%;
  top: 80px;
  width: 22px;
  height: 22px;
  animation: moveToTop 3.351s ease-in-out -1.783s infinite;
}

.flame:nth-child(84) {
  left: 37%;
  top: 70px;
  width: 29px;
  height: 29px;
  animation: moveToTop 3.803s ease-in-out -1.796s infinite;
}

.flame:nth-child(85) {
  left: 31%;
  top: 54px;
  width: 28px;
  height: 28px;
  animation: moveToTop 1.643s ease-in-out -1.908s infinite;
}

.flame:nth-child(86) {
  left: 68%;
  top: 33px;
  width: 23px;
  height: 23px;
  animation: moveToTop 3.782s ease-in-out -1.404s infinite;
}

.flame:nth-child(87) {
  left: 6%;
  top: 102px;
  width: 28px;
  height: 28px;
  animation: moveToTop 1.515s ease-in-out -1.497s infinite;
}

.flame:nth-child(88) {
  left: 36%;
  top: 98px;
  width: 26px;
  height: 26px;
  animation: moveToTop 2.464s ease-in-out -2.502s infinite;
}

.flame:nth-child(89) {
  left: 54%;
  top: 112px;
  width: 24px;
  height: 24px;
  animation: moveToTop 2.473s ease-in-out -2.933s infinite;
}

.flame:nth-child(90) {
  left: 10%;
  top: 46px;
  width: 29px;
  height: 29px;
  animation: moveToTop 2.978s ease-in-out -3.063s infinite;
}

.flame:nth-child(91) {
  left: 67%;
  top: 96px;
  width: 30px;
  height: 30px;
  animation: moveToTop 2.115s ease-in-out -0.606s infinite;
}

.flame:nth-child(92) {
  left: 7%;
  top: 127px;
  width: 27px;
  height: 27px;
  animation: moveToTop 2.685s ease-in-out -0.99s infinite;
}

.flame:nth-child(93) {
  left: 76%;
  top: 113px;
  width: 24px;
  height: 24px;
  animation: moveToTop 3.035s ease-in-out -4.371s infinite;
}

.flame:nth-child(94) {
  left: 14%;
  top: 92px;
  width: 25px;
  height: 25px;
  animation: moveToTop 3.341s ease-in-out -2.051s infinite;
}

.flame:nth-child(95) {
  left: 68%;
  top: 38px;
  width: 30px;
  height: 30px;
  animation: moveToTop 3.938s ease-in-out -1.486s infinite;
}

.flame:nth-child(96) {
  left: 48%;
  top: 44px;
  width: 22px;
  height: 22px;
  animation: moveToTop 3.061s ease-in-out -3.54s infinite;
}

.flame:nth-child(97) {
  left: 4%;
  top: 56px;
  width: 27px;
  height: 27px;
  animation: moveToTop 3.764s ease-in-out -0.333s infinite;
}

.flame:nth-child(98) {
  left: 74%;
  top: 70px;
  width: 30px;
  height: 30px;
  animation: moveToTop 3.242s ease-in-out -0.785s infinite;
}

.flame:nth-child(99) {
  left: 69%;
  top: 121px;
  width: 22px;
  height: 22px;
  animation: moveToTop 3.329s ease-in-out -1.732s infinite;
}

.flame:nth-child(100) {
  left: 22%;
  top: 54px;
  width: 27px;
  height: 27px;
  animation: moveToTop 1.782s ease-in-out -1.043s infinite;
}

.flame:nth-child(101) {
  left: 3%;
  top: 125px;
  width: 28px;
  height: 28px;
  animation: moveToTop 3.326s ease-in-out -4.706s infinite;
}

.flame:nth-child(102) {
  left: 2%;
  top: 108px;
  width: 26px;
  height: 26px;
  animation: moveToTop 2.553s ease-in-out -3.994s infinite;
}

.flame:nth-child(103) {
  left: 37%;
  top: 130px;
  width: 30px;
  height: 30px;
  animation: moveToTop 1.936s ease-in-out -0.058s infinite;
}

.flame:nth-child(104) {
  left: 58%;
  top: 59px;
  width: 30px;
  height: 30px;
  animation: moveToTop 3.727s ease-in-out -3.004s infinite;
}

.flame:nth-child(105) {
  left: 8%;
  top: 72px;
  width: 25px;
  height: 25px;
  animation: moveToTop 2.519s ease-in-out -4.843s infinite;
}

.flame:nth-child(106) {
  left: 35%;
  top: 111px;
  width: 27px;
  height: 27px;
  animation: moveToTop 2.618s ease-in-out -3.745s infinite;
}

.flame:nth-child(107) {
  left: 5%;
  top: 33px;
  width: 25px;
  height: 25px;
  animation: moveToTop 2.973s ease-in-out -4.033s infinite;
}

.flame:nth-child(108) {
  left: 29%;
  top: 123px;
  width: 23px;
  height: 23px;
  animation: moveToTop 3.354s ease-in-out -4.172s infinite;
}

.flame:nth-child(109) {
  left: 25%;
  top: 58px;
  width: 30px;
  height: 30px;
  animation: moveToTop 3.956s ease-in-out -1.983s infinite;
}

.flame:nth-child(110) {
  left: 65%;
  top: 100px;
  width: 30px;
  height: 30px;
  animation: moveToTop 2.18s ease-in-out -1.535s infinite;
}

.flame:nth-child(111) {
  left: 45%;
  top: 97px;
  width: 22px;
  height: 22px;
  animation: moveToTop 2.935s ease-in-out -4.898s infinite;
}

.flame:nth-child(112) {
  left: 59%;
  top: 104px;
  width: 22px;
  height: 22px;
  animation: moveToTop 3.889s ease-in-out -3.856s infinite;
}

.flame:nth-child(113) {
  left: 36%;
  top: 86px;
  width: 22px;
  height: 22px;
  animation: moveToTop 2.208s ease-in-out -1.477s infinite;
}

.flame:nth-child(114) {
  left: 44%;
  top: 61px;
  width: 25px;
  height: 25px;
  animation: moveToTop 3.031s ease-in-out -0.35s infinite;
}

.flame:nth-child(115) {
  left: 77%;
  top: 92px;
  width: 26px;
  height: 26px;
  animation: moveToTop 1.75s ease-in-out -4.682s infinite;
}

.flame:nth-child(116) {
  left: 32%;
  top: 68px;
  width: 23px;
  height: 23px;
  animation: moveToTop 3.319s ease-in-out -0.869s infinite;
}

.flame:nth-child(117) {
  left: 72%;
  top: 33px;
  width: 28px;
  height: 28px;
  animation: moveToTop 2.049s ease-in-out -3.535s infinite;
}

.flame:nth-child(118) {
  left: 29%;
  top: 128px;
  width: 25px;
  height: 25px;
  animation: moveToTop 2.237s ease-in-out -0.826s infinite;
}

.flame:nth-child(119) {
  left: 5%;
  top: 85px;
  width: 29px;
  height: 29px;
  animation: moveToTop 1.887s ease-in-out -1.778s infinite;
}

.flame:nth-child(120) {
  left: 4%;
  top: 63px;
  width: 22px;
  height: 22px;
  animation: moveToTop 2.936s ease-in-out -3.443s infinite;
}

.flame:nth-child(121) {
  left: 63%;
  top: 58px;
  width: 24px;
  height: 24px;
  animation: moveToTop 1.85s ease-in-out -3.831s infinite;
}

.flame:nth-child(122) {
  left: 60%;
  top: 102px;
  width: 26px;
  height: 26px;
  animation: moveToTop 1.856s ease-in-out -1.77s infinite;
}

.flame:nth-child(123) {
  left: 21%;
  top: 90px;
  width: 21px;
  height: 21px;
  animation: moveToTop 2.953s ease-in-out -2.033s infinite;
}

.flame:nth-child(124) {
  left: 36%;
  top: 71px;
  width: 26px;
  height: 26px;
  animation: moveToTop 2.557s ease-in-out -4.531s infinite;
}

.flame:nth-child(125) {
  left: 37%;
  top: 117px;
  width: 29px;
  height: 29px;
  animation: moveToTop 2.889s ease-in-out -1.62s infinite;
}

.flame:nth-child(126) {
  left: 44%;
  top: 74px;
  width: 24px;
  height: 24px;
  animation: moveToTop 1.666s ease-in-out -0.275s infinite;
}

.flame:nth-child(127) {
  left: 72%;
  top: 123px;
  width: 22px;
  height: 22px;
  animation: moveToTop 3.536s ease-in-out -1.209s infinite;
}

.flame:nth-child(128) {
  left: 54%;
  top: 114px;
  width: 22px;
  height: 22px;
  animation: moveToTop 3.724s ease-in-out -0.694s infinite;
}

.flame:nth-child(129) {
  left: 73%;
  top: 130px;
  width: 23px;
  height: 23px;
  animation: moveToTop 2.318s ease-in-out -4.511s infinite;
}

.flame:nth-child(130) {
  left: 61%;
  top: 37px;
  width: 21px;
  height: 21px;
  animation: moveToTop 1.756s ease-in-out -2.057s infinite;
}

.flame:nth-child(131) {
  left: 76%;
  top: 81px;
  width: 27px;
  height: 27px;
  animation: moveToTop 1.708s ease-in-out -0.101s infinite;
}

.flame:nth-child(132) {
  left: 63%;
  top: 64px;
  width: 24px;
  height: 24px;
  animation: moveToTop 3.723s ease-in-out -4.535s infinite;
}

.flame:nth-child(133) {
  left: 65%;
  top: 36px;
  width: 26px;
  height: 26px;
  animation: moveToTop 2.568s ease-in-out -0.719s infinite;
}

.flame:nth-child(134) {
  left: 12%;
  top: 71px;
  width: 24px;
  height: 24px;
  animation: moveToTop 3.154s ease-in-out -4.398s infinite;
}

.flame:nth-child(135) {
  left: 44%;
  top: 121px;
  width: 25px;
  height: 25px;
  animation: moveToTop 3.406s ease-in-out -0.205s infinite;
}

.flame:nth-child(136) {
  left: 4%;
  top: 36px;
  width: 26px;
  height: 26px;
  animation: moveToTop 1.597s ease-in-out -0.604s infinite;
}

.flame:nth-child(137) {
  left: 22%;
  top: 108px;
  width: 29px;
  height: 29px;
  animation: moveToTop 1.923s ease-in-out -3.917s infinite;
}

.flame:nth-child(138) {
  left: 62%;
  top: 47px;
  width: 30px;
  height: 30px;
  animation: moveToTop 1.677s ease-in-out -2.205s infinite;
}

.flame:nth-child(139) {
  left: 62%;
  top: 72px;
  width: 27px;
  height: 27px;
  animation: moveToTop 1.889s ease-in-out -0.858s infinite;
}

.flame:nth-child(140) {
  left: 14%;
  top: 39px;
  width: 24px;
  height: 24px;
  animation: moveToTop 1.699s ease-in-out -3.675s infinite;
}

.flame:nth-child(141) {
  left: 62%;
  top: 98px;
  width: 27px;
  height: 27px;
  animation: moveToTop 2.794s ease-in-out -1.012s infinite;
}

.flame:nth-child(142) {
  left: 64%;
  top: 93px;
  width: 28px;
  height: 28px;
  animation: moveToTop 3.041s ease-in-out -3.24s infinite;
}

.flame:nth-child(143) {
  left: 3%;
  top: 124px;
  width: 26px;
  height: 26px;
  animation: moveToTop 1.849s ease-in-out -4.955s infinite;
}

.flame:nth-child(144) {
  left: 6%;
  top: 116px;
  width: 26px;
  height: 26px;
  animation: moveToTop 2.07s ease-in-out -2.587s infinite;
}

.flame:nth-child(145) {
  left: 5%;
  top: 103px;
  width: 27px;
  height: 27px;
  animation: moveToTop 2.96s ease-in-out -4.969s infinite;
}

.flame:nth-child(146) {
  left: 71%;
  top: 89px;
  width: 24px;
  height: 24px;
  animation: moveToTop 3.387s ease-in-out -4.352s infinite;
}

.flame:nth-child(147) {
  left: 3%;
  top: 67px;
  width: 24px;
  height: 24px;
  animation: moveToTop 2.323s ease-in-out -4.362s infinite;
}

.flame:nth-child(148) {
  left: 61%;
  top: 34px;
  width: 22px;
  height: 22px;
  animation: moveToTop 1.776s ease-in-out -0.107s infinite;
}

.flame:nth-child(149) {
  left: 37%;
  top: 129px;
  width: 22px;
  height: 22px;
  animation: moveToTop 3.283s ease-in-out -0.272s infinite;
}

.flame:nth-child(150) {
  left: 11%;
  top: 42px;
  width: 30px;
  height: 30px;
  animation: moveToTop 1.587s ease-in-out -4.241s infinite;
}

.flame:nth-child(151) {
  left: 46%;
  top: 92px;
  width: 27px;
  height: 27px;
  animation: moveToTop 2.665s ease-in-out -0.756s infinite;
}

.flame:nth-child(152) {
  left: 17%;
  top: 53px;
  width: 30px;
  height: 30px;
  animation: moveToTop 2.796s ease-in-out -4.399s infinite;
}

.flame:nth-child(153) {
  left: 77%;
  top: 32px;
  width: 27px;
  height: 27px;
  animation: moveToTop 2.058s ease-in-out -3.982s infinite;
}

.flame:nth-child(154) {
  left: 74%;
  top: 44px;
  width: 21px;
  height: 21px;
  animation: moveToTop 2.85s ease-in-out -1.587s infinite;
}

.flame:nth-child(155) {
  left: 71%;
  top: 81px;
  width: 29px;
  height: 29px;
  animation: moveToTop 1.593s ease-in-out -4.217s infinite;
}

.flame:nth-child(156) {
  left: 2%;
  top: 65px;
  width: 25px;
  height: 25px;
  animation: moveToTop 3.799s ease-in-out -0.135s infinite;
}

.flame:nth-child(157) {
  left: 34%;
  top: 103px;
  width: 28px;
  height: 28px;
  animation: moveToTop 3.475s ease-in-out -2.852s infinite;
}

.flame:nth-child(158) {
  left: 59%;
  top: 101px;
  width: 25px;
  height: 25px;
  animation: moveToTop 2.819s ease-in-out -0.319s infinite;
}

.flame:nth-child(159) {
  left: 9%;
  top: 71px;
  width: 30px;
  height: 30px;
  animation: moveToTop 3.977s ease-in-out -4.973s infinite;
}

.flame:nth-child(160) {
  left: 52%;
  top: 120px;
  width: 26px;
  height: 26px;
  animation: moveToTop 2.1s ease-in-out -2.325s infinite;
}

.flame:nth-child(161) {
  left: 45%;
  top: 89px;
  width: 25px;
  height: 25px;
  animation: moveToTop 1.647s ease-in-out -0.736s infinite;
}

.flame:nth-child(162) {
  left: 53%;
  top: 120px;
  width: 23px;
  height: 23px;
  animation: moveToTop 3.849s ease-in-out -3.854s infinite;
}

.flame:nth-child(163) {
  left: 69%;
  top: 53px;
  width: 27px;
  height: 27px;
  animation: moveToTop 3.633s ease-in-out -3.264s infinite;
}

.flame:nth-child(164) {
  left: 28%;
  top: 53px;
  width: 22px;
  height: 22px;
  animation: moveToTop 3.828s ease-in-out -2.808s infinite;
}

.flame:nth-child(165) {
  left: 47%;
  top: 90px;
  width: 21px;
  height: 21px;
  animation: moveToTop 3.502s ease-in-out -2.197s infinite;
}

.flame:nth-child(166) {
  left: 71%;
  top: 95px;
  width: 28px;
  height: 28px;
  animation: moveToTop 3.192s ease-in-out -3.621s infinite;
}

.flame:nth-child(167) {
  left: 44%;
  top: 96px;
  width: 30px;
  height: 30px;
  animation: moveToTop 2.555s ease-in-out -3.056s infinite;
}

.flame:nth-child(168) {
  left: 42%;
  top: 54px;
  width: 21px;
  height: 21px;
  animation: moveToTop 3.371s ease-in-out -0.811s infinite;
}

.flame:nth-child(169) {
  left: 1%;
  top: 128px;
  width: 24px;
  height: 24px;
  animation: moveToTop 3.633s ease-in-out -1.201s infinite;
}

.flame:nth-child(170) {
  left: 43%;
  top: 59px;
  width: 23px;
  height: 23px;
  animation: moveToTop 3.914s ease-in-out -3.555s infinite;
}

.flame:nth-child(171) {
  left: 75%;
  top: 94px;
  width: 21px;
  height: 21px;
  animation: moveToTop 2.122s ease-in-out -2.231s infinite;
}

.flame:nth-child(172) {
  left: 16%;
  top: 115px;
  width: 30px;
  height: 30px;
  animation: moveToTop 3.431s ease-in-out -1.255s infinite;
}

.flame:nth-child(173) {
  left: 13%;
  top: 66px;
  width: 21px;
  height: 21px;
  animation: moveToTop 2.9s ease-in-out -0.396s infinite;
}

.flame:nth-child(174) {
  left: 51%;
  top: 105px;
  width: 24px;
  height: 24px;
  animation: moveToTop 3.008s ease-in-out -2.138s infinite;
}

.flame:nth-child(175) {
  left: 24%;
  top: 87px;
  width: 22px;
  height: 22px;
  animation: moveToTop 2.685s ease-in-out -4.803s infinite;
}

.flame:nth-child(176) {
  left: 25%;
  top: 81px;
  width: 29px;
  height: 29px;
  animation: moveToTop 2.436s ease-in-out -4.379s infinite;
}

.flame:nth-child(177) {
  left: 8%;
  top: 107px;
  width: 26px;
  height: 26px;
  animation: moveToTop 3.571s ease-in-out -2.541s infinite;
}

.flame:nth-child(178) {
  left: 5%;
  top: 60px;
  width: 30px;
  height: 30px;
  animation: moveToTop 3.884s ease-in-out -1.341s infinite;
}

.flame:nth-child(179) {
  left: 61%;
  top: 122px;
  width: 25px;
  height: 25px;
  animation: moveToTop 2.34s ease-in-out -1.16s infinite;
}

.flame:nth-child(180) {
  left: 55%;
  top: 129px;
  width: 29px;
  height: 29px;
  animation: moveToTop 3.531s ease-in-out -0.586s infinite;
}

.flame:nth-child(181) {
  left: 27%;
  top: 117px;
  width: 25px;
  height: 25px;
  animation: moveToTop 2.438s ease-in-out -1.642s infinite;
}

.flame:nth-child(182) {
  left: 74%;
  top: 125px;
  width: 30px;
  height: 30px;
  animation: moveToTop 2.201s ease-in-out -3.035s infinite;
}

.flame:nth-child(183) {
  left: 7%;
  top: 34px;
  width: 29px;
  height: 29px;
  animation: moveToTop 3.299s ease-in-out -2.835s infinite;
}

.flame:nth-child(184) {
  left: 40%;
  top: 91px;
  width: 29px;
  height: 29px;
  animation: moveToTop 3.191s ease-in-out -1.214s infinite;
}

.flame:nth-child(185) {
  left: 80%;
  top: 88px;
  width: 22px;
  height: 22px;
  animation: moveToTop 3.286s ease-in-out -2.248s infinite;
}

.flame:nth-child(186) {
  left: 41%;
  top: 73px;
  width: 21px;
  height: 21px;
  animation: moveToTop 2.39s ease-in-out -3.784s infinite;
}

.flame:nth-child(187) {
  left: 34%;
  top: 89px;
  width: 29px;
  height: 29px;
  animation: moveToTop 3.037s ease-in-out -2.023s infinite;
}

.flame:nth-child(188) {
  left: 46%;
  top: 109px;
  width: 23px;
  height: 23px;
  animation: moveToTop 2.82s ease-in-out -1.798s infinite;
}

.flame:nth-child(189) {
  left: 17%;
  top: 61px;
  width: 30px;
  height: 30px;
  animation: moveToTop 3.954s ease-in-out -0.696s infinite;
}

.flame:nth-child(190) {
  left: 78%;
  top: 111px;
  width: 21px;
  height: 21px;
  animation: moveToTop 2.218s ease-in-out -1.899s infinite;
}

.flame:nth-child(191) {
  left: 61%;
  top: 97px;
  width: 27px;
  height: 27px;
  animation: moveToTop 2.648s ease-in-out -4.434s infinite;
}

.flame:nth-child(192) {
  left: 4%;
  top: 31px;
  width: 29px;
  height: 29px;
  animation: moveToTop 1.793s ease-in-out -0.633s infinite;
}

.flame:nth-child(193) {
  left: 50%;
  top: 105px;
  width: 27px;
  height: 27px;
  animation: moveToTop 1.661s ease-in-out -2.157s infinite;
}

.flame:nth-child(194) {
  left: 67%;
  top: 68px;
  width: 23px;
  height: 23px;
  animation: moveToTop 2.622s ease-in-out -1.563s infinite;
}

.flame:nth-child(195) {
  left: 68%;
  top: 59px;
  width: 27px;
  height: 27px;
  animation: moveToTop 2.761s ease-in-out -4.358s infinite;
}

.flame:nth-child(196) {
  left: 37%;
  top: 89px;
  width: 30px;
  height: 30px;
  animation: moveToTop 2.685s ease-in-out -0.751s infinite;
}

.flame:nth-child(197) {
  left: 78%;
  top: 41px;
  width: 24px;
  height: 24px;
  animation: moveToTop 3.85s ease-in-out -0.725s infinite;
}

.flame:nth-child(198) {
  left: 37%;
  top: 54px;
  width: 24px;
  height: 24px;
  animation: moveToTop 2.603s ease-in-out -2.262s infinite;
}

.flame:nth-child(199) {
  left: 1%;
  top: 68px;
  width: 25px;
  height: 25px;
  animation: moveToTop 3.882s ease-in-out -3.537s infinite;
}

.flame:nth-child(200) {
  left: 46%;
  top: 65px;
  width: 25px;
  height: 25px;
  animation: moveToTop 1.796s ease-in-out -3.356s infinite;
}

@keyframes moveToTop {
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0.08;
    transform: translate(-50%, -10px) scale(0.3);
  }
}
.leaderboard-item {
  padding: 0px 4px;
  list-style: none;
  width: 100%;
  text-wrap: nowrap;
}

/*# sourceMappingURL=App.css.map */
