:root {
  --lg-colorblock-size: 100px;
  --md-colorblock-size: 75px;
  --sm-colorblock-size: 50px;

  --leaderboard-width: calc(200px);
}

.app-container-grid {
  /* display: grid;
  grid-template-columns: auto min-content; */
}

.color-block-container {
  text-align: center;
  padding-right: var(--leaderboard-width);
  /* padding-right: 200px; */
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
}

.color-body {
  margin: 5px;
  border: 1px solid grey;
  border-radius: 20%;
  width: var(--lg-colorblock-size);
  height: var(--lg-colorblock-size);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.scoreboard {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: var(--leaderboard-width);
  border: 1px solid pink;
  background: white;
  padding: 5px;
}

.scoreboard h3 {
  text-align: center;
}
